@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=UnifrakturMaguntia&family=VT323&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000;
  cursor: crosshair;
}

body {
  font-family: 'VT323', monospace;
  overflow-x: hidden;
  overflow-y: auto;
}

button, a {
  cursor: pointer;
}

.font-gothic {
  font-family: 'UnifrakturMaguntia', cursive;
}

.font-cursive {
  font-family: 'Pinyon Script', cursive;
}
